<!-- <ul class="guess-list">
	<%_.each(list,function(v,k){%>
		<li>
			<h2 class="guess-title"><%=v.name%></h2>
			<ul class="problem-list">
				<%_.each(v.list,function(v2,k2){%>
					<li>
						<div class="problem-title"><%=v2.name%></div>
						<div class="problem-sub"><%=v2.date%></div>
						<a href="<%='./guessdetail.html'+v2.id%>">打开</a>
					</li>
				<%})%>
			</ul>
		</li>
	<%})%>
</ul> -->
<ul class="guess-list">
	<li>
		<h2 class="guess-title">竞猜列表</h2>
		<ul class="problem-list">
			<%_.each(list,function(v,k){%>
				<li>
					<div class="problem-title"><%=v.name%></div>
					<div class="problem-sub"><%=v.date%></div>
					<a href="<%='./guessdetail.html?id='+v.id%>">打开</a>
				</li>
			<%})%>
		</ul>
	</li>
</ul>